html {
    background-image: url("images/ocean.jpg");
    background-position: top right;
}

.logo {
    display: inline-block;
}
h1 {
    background-color: white;
    border: 4px solid black;
    width: 75%;
}

li {
    font-size: 18px;
    display: inline-block;
    padding: 5px 0px 10px 0px;
    list-style: none;
    margin-right: 75px;
}

#button:hover,
.card_container:hover {
    cursor: pointer;
}
.gameboard{
    position: relative;
    left: 25px;
    top: 55px;
}
.nav{
    position: relative;
    left: 20px;
    top: 25px;
}
#accuracy, #matches, #misses {
    padding: 5px;
    border: 4px solid black;
    background-color: white;
}


#button {
    background-color: #F9F9F9;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    height: 35px;
    margin-left: 25px;
    width: 100px;
    margin: 25px 0px 0px 50px;
}

.card_container {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 110px;
    margin: 5px 5px 15px 5px;
}

.card {
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.card.card-back{
    width: 110px;
    background-color: black;
}
.card-front {
    background-color: black;
    width: 110px;
    border-radius: 30px;
}

.card-hidden {
    display: none;
}

.card-hide {
    display: none;
}

.cards-matched {
    border: 4px solid #00CC33;
}
