.logo img {
    position: relative;
    left: 45px;
    width: 100px;
    height: 100px;
}

.logo {
    display: inline-block;
}


/*
#D70C0C;
#E6D916;

*/


/*----^-Header-^---*/


/*---Left Nav----*/

li {
    font-size: 18px;
    display: inline-block;
    padding: 5px 0px 10px 0px;
    list-style: none;
}

#button:hover,
.card_container:hover {
    cursor: pointer;
}
.col-md-9.col-md-offset-1.col-xs-10{
    position: relative;
    left: 25px;
}
.nav{
    position: relative;
    left: 50px;
}
#accuracy {
    padding: 5px;
    border: 4px solid #E6D916;
}

#matches {
    padding: 5px;
    border: 4px solid #20ADBF;
}

#misses {
    padding: 5px;
    border: 4px solid #D70C0C;
    ;
}

#button {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    height: 35px;
    padding-bottom: 30px;
    margin-left: 25px;
    width: 100px;
}

.card_container {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 110px;
    margin: 5px 5px 15px 5px;
}

.card {
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.card-front {
    background-color: black;
    width: 110px;
    border-radius: 30px;
}

.card-hidden {
    display: none;
}

.card-hide {
    display: none;
}

.cards-matched {
    border: 4px solid #00CC33;
}
