.logo img {
    position: relative;
    left: 45px;
    width: 100px;
    height: 100px;
}

.logo {
    display: inline-block;
}


/*----^-Header-^---*/


/*---Left Nav----*/

li {
    font-size: 18px;
    display: block;
    padding: 5px 0px 10px 0px;
    list-style: none;
    width: 220px;
}

#button:hover,
.card_container:hover {
    cursor: pointer;
}

#button {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    height: 35px;
    padding-bottom: 10px;
}

.card_container {
    position: relative;
    display: inline-block;
    height: 150px;
    width: 110px;
    margin: 5px 5px 15px 5px;
}

.card {
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.card-front {
    background-color: black;
    width: 110px;
    border-radius: 30px;
}

.card-hidden {
    display: none;
}

.card-hide {
    display: none;
}

.cards-matched {
    border: 4px solid #00CC33;
}
